body {
    background-color: #fff;
    /*background-color: #87bfdd;*/

}

/*p {*/
    /*color: #007bff;*/
/*}*/



.container {
    padding: 20px;
    padding-top: 50px;
}
/* Products page */
/* Cards */

.card {
    display: inline-block;
    width: 300px;
    /*height: 500px;*/
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
}

.card.products {
    text-align: center;
}

.card-img-top {
    width: 200px;
    height: 250px;
}

.card.card-big {
    width: 100%;
}

.card-big .card-img-top {
    width: 300px;
    height: 500px;
    text-align: center;
    margin-bottom: 20px;
}

.card.team .card-img-top {
    width: 260px;
    height: 100%;
    /*padding: 1px;*/
}

.card .card-title {
    color: #007bff;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.card.team .card-text {
    color: #212529;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.card.team .card-body {
    padding: 0px;
    padding-top: 20px;
}

.card-big .card-body {
    border-top: 1px solid #ccc;
}

.card-big .card-title {
    color: #007bff;
    font-weight: 800;
    font-size: 30px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-big .card-text {
    color: #212529;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Nav Bar */

.nav {
    height: 70px;
    padding-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 2px solid #007bff;
}

/* Contact Page */
.pill-custom {
    border-radius: 5px;
    padding: 8px;
    margin: 8px;
}

.pill-custom.blue {
    background-color: #007bff;
    border-radius: 5px;
    border: 1px solid #007bff;
    color: #fff;
 }

.pill-custom.grey {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #007bff;
    color: #212529;
}

.contact p {
    margin-top: 30px;
}