<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/png" href="images/favicon.png"/>
    <!--Import Fragment-->
    <div th:insert="/page-fragments :: imports"></div>
    <title>Admin</title>
</head>
<body>

<!--Body-->
<div class="container">
    <div class="login-page">
        <h1>Admin Page</h1>
        <div class="login center">
            <p>Choose category to modify:</p>
            <form action="/admin-page" method="post">
                <input type="hidden" name="page" value="products">
                <button class="btn btn-primary" type="submit">Products</button>
            </form>
            <form action="/admin-page" method="post">
                <input type="hidden" name="page" value="news">
                <button class="btn btn-primary" type="submit">News</button>
            </form>
        </div>

    </div>
</div>

</body>
</html>