<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/png" href="images/favicon.png"/>
    <!--Import Fragment-->
    <div th:insert="/page-fragments :: imports"></div>
    <title>Home</title>
</head>
<body>

<!--Header Fragment-->
<div th:insert="/page-fragments :: header('index')"></div>

<!--Body-->
<div class="container">
    <div class="home">
        <h1 th:text="#{headline_index}"></h1>
        <div class="description">
            <p th:text="#{description.p1}"></p>
            <p th:text="#{description.p2}"></p>
            <p th:text="#{description.p3}"></p>
            <div class="location">
                <h4 th:text="#{location.h1}"></h4>
                <h6>Gammelmosevej 176 A</h6>
                <h6>DK-2800 Lyngby</h6>
            </div>
        </div>
        <div class="map">
            <iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=da&amp;geocode=&amp;q=Gammelmosevej+176A+Lyngby&amp;aq=&amp;sll=55.788564,12.514914&amp;sspn=0.265998,0.837021&amp;ie=UTF8&amp;hq=&amp;hnear=Gammelmosevej+176,+2800+Kongens+Lyngby&amp;t=m&amp;ll=55.755931,12.483816&amp;spn=0.012075,0.021415&amp;z=15&amp;output=embed&amp;iwloc=near" height="600" width="800" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
            <small><a style="color: #0000ff; text-align: left;" href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=da&amp;geocode=&amp;q=Gammelmosevej+176A+Lyngby&amp;aq=&amp;sll=55.788564,12.514914&amp;sspn=0.265998,0.837021&amp;ie=UTF8&amp;hq=&amp;hnear=Gammelmosevej+176,+2800+Kongens+Lyngby&amp;t=m&amp;ll=55.755931,12.483816&amp;spn=0.012075,0.021415&amp;z=15"></a></small>
        </div>
    </div>
</div>

<!--Footer Fragment-->
<div th:insert="/page-fragments :: footer"></div>

</body>
</html>