<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/style2.css">
    <title>News</title>
</head>
<body>

<!--Header Fragment-->
<div th:insert="/page-fragments :: header('news')"></div>

<!--Body-->
<div class="container">
    <div class="card card-big">
        <img class="card-img-top center" src="images/product.png">
        <div class="card-body">
            <h5 class="card-title" th:text="${title}"> </h5>
            <tr th:each="dv: ${description}" class="card-text">
                <!--<p th:text="${dv}"></p>-->
                <div class="text" th:utext="${#strings.unescapeJava(#strings.replace(#strings.escapeJava(dv),'\n','&lt;br /&gt;'))}"></div>
            </tr>
        </div>
    </div>
</div>

<!--Footer Fragment-->
<div th:insert="/page-fragments :: footer"></div>

</body>
</html>