<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" href = "images/product.png">
    <title>News</title>
</head>
<body>

<!--Header Fragment-->
<div th:insert="/page-fragments :: header('news')"></div>

<!--Body-->
<div class="container">
    <div class="product-page">
        <h1>Latest News</h1>
        <th:block th:each="news : ${newsList}">
            <div class="card products news">
                <!--<img class="card-img-top" src="images/product.png">-->
                <div class="card-body">
                    <h5 class="card-title" th:text="${news.title}"></h5>
                    <p class="card-text" th:text="${news.description}">...</p>
                    <a th:href="@{/newsArticle(id=${news.id})}" class="btn btn-primary">Read More...</a>
                </div>
            </div>
        </th:block>
    </div>
</div>

<!--Footer Fragment-->
<div th:insert="/page-fragments :: footer"></div>

</body>
</html>