<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Import Fragment-->
    <div th:insert="/page-fragments :: imports"></div>
    <title>News Article</title>
</head>
<body>

<!--Header Fragment-->
<div th:insert="/page-fragments :: header('news')"></div>

<!--Body-->
<div class="container">
    <div class="card card-big">
        <div class="card-body">
            <h5 class="card-title" th:text="${title}"> </h5>
            <tr th:each="dv: ${description}" class="card-text">
                <div class="text" th:utext="${#strings.unescapeJava(#strings.replace(#strings.escapeJava(dv),'\n','&lt;br /&gt;'))}"></div>
            </tr>
        </div>
    </div>
</div>

<!--Footer Fragment-->
<div th:insert="/page-fragments :: footer"></div>

</body>
</html>