<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="/style2.css">

</head>
<body>
<div th:fragment="header(activePage)">
    <ul class="nav nav-pills nav-fill">
        <li th:class="'nav-item'  + ${activePage == 'index' ? ' item-logo' : ''}">
            <a th:class="'nav-link logo'" href="/"><img src="images/medilink.png"></a>
        </li>
        <!--<li class="nav-item">-->
            <!--<a th:class="'nav-link' + ${activePage == 'index' ? ' active' : ''}" href="index">Medilink</a>-->
        <!--</li>-->
        <li class="nav-item">
             <a th:class="'nav-link' + ${activePage == 'products' ? ' active' : ''}" href="products">Products</a>
        </li>
        <li class="nav-item">
            <a th:class="'nav-link' + ${activePage == 'team' ? ' active' : ''}" href="team">Team Members</a>
        </li>
        <li class="nav-item">
            <a th:class="'nav-link' + ${activePage == 'contact' ? ' active' : ''}" href="contact">Contact</a>
        </li>
        <li class="nav-item">
            <a th:class="'nav-link' + ${activePage == 'faq' ? ' active' : ''}" href="faq">FAQ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="news">News</a>
        </li>
        <li>
            <form action="/search" method="post">
                <input type="text" name="q" class="form-control" placeholder="Search Product Name">
            </form>
        </li>
    </ul>
</div>

<div th:fragment="footer" class="footer">


    <div class="footer-custom">
        <div class="row">
            <div class="col">
                <div class="footer-left">
                    <a href="http://medilink.dk/" target="_blank"><img src="images/medilink.png"></a>
                    <p>MediLink A / S is a Danish family-owned pharmaceutical company
                        that produces, markets and distributes original prescription drugs and medical devices.</p>
                </div>
            </div>
            <div class="col">
                <div class="footer-right">
                    <ul>
                        <li>
                            <img src="images/li-1.png" class="icon">
                            <a href="https://www.linkedin.com" target="_blank">
                                <span>LinkedIn</span>
                            </a>
                        </li>
                        <li>
                            <img src="images/fb-1.png" class="icon">
                            <a href="https://www.facebook.com" target="_blank">
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li>
                            <img src="images/tw-1.png" class="icon">
                            <a href="https://twitter.com/" target="_blank">
                                <span>Twitter</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>