<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Import Fragment-->
    <div th:insert="/page-fragments :: imports"></div>

    <title>Product</title>
</head>
<body>

<!--Header Fragment-->
<div th:insert="/page-fragments :: header('products')"></div>


<!--Body-->

<div class="container">
    <div class="login-page">
        <h1>Edit the product</h1>
        <div class="login center edit">
            <form action="/product-edit" th:object="${productItem}" method="post" class="edit-form">
                <input type="hidden" th:field="*{id}" class="form-control edit-custom">
                <h5>Title</h5>
                <input type="text" th:field="*{name}" required class="form-control edit-custom">
                <h5>Description</h5>
                <textarea type="text" th:field="*{description}" required class="form-control edit-custom"></textarea>
                <!--<input class="btn btn-primary" type="submit" value="Save">-->
                <button class="btn btn-primary" type="submit">Save</button>
            </form>
        </div>

    </div>
</div>

<!--<div class="container">-->
    <!--<div class="card card-big">-->
        <!--<img class="card-img-top center" src="images/product.png">-->
        <!--<div class="card-body">-->
            <!--<h5 class="card-title">Edit the product</h5>-->

            <!--<form action="/product-edit" th:object="${productItem}" method="post">-->
                <!--&lt;!&ndash;<input type="text" name="q" class="form-control search-custom" th:placeholder="#{search_product}">&ndash;&gt;-->
                <!--<input type="hidden" th:field="*{id}">-->
                <!--<input type="text" th:field="*{name}" required>-->
                <!--<input type="text" th:field="*{description}" required>-->
                <!--<input type="submit" value="Save">-->
            <!--</form>-->

           <!---->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->



<!--Footer Fragment-->
<div th:insert="/page-fragments :: footer"></div>

</body>
</html>