<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/png" href="images/favicon.png"/>
    <!--Import Fragment-->
    <div th:insert="/page-fragments :: imports"></div>
    <title th:text="${productItem.id == -1 ? 'Create Product' : 'Edit Product'}"></title>
</head>
<body>

<!--Header Fragment-->
<div th:insert="/page-fragments :: header('products')"></div>

<!--Body-->
<div class="container">
    <div class="login-page">
        <h1 th:text="${productItem.id == -1 ? 'Create the product' : 'Edit the product'}"></h1>
        <div class="login center edit">
            <form action="/product-edit" th:object="${productItem}" method="post" class="edit-form">
                <input type="hidden" th:field="*{id}" class="form-control edit-custom">
                <h5>Title</h5>
                <input type="text" th:field="*{name}" required class="form-control edit-custom">
                <h5>Description</h5>
                <textarea type="text" th:field="*{description}" required class="form-control edit-custom"></textarea>
                <h5>Image URL</h5>
                <input type="url" th:field="*{imgPath}" class="form-control edit-custom">
                <button class="btn btn-primary" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>

<!--Footer Fragment-->
<div th:insert="/page-fragments :: footer"></div>

</body>
</html>