<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/style2.css">
    <title>Products</title>
</head>
<body>

<!--Header Fragment-->
<div th:insert="/page-fragments :: header('products')"></div>

<!--Body-->
<div class="container">
    <div class="product-page">
        <h1>List of Products</h1>
        <th:block th:each="product : ${productsList}">
            <div class="card products">
                <img class="card-img-top" src="images/product.png">
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.name}"></h5>
                    <p class="card-text">We support healthcare professionals in cryosurgery and cryotherapy all over the world.</p>
                    <a th:href="@{/product(id=${product.id})}" class="btn btn-primary">Read More...</a>
                </div>
            </div>
        </th:block>
    </div>
</div>

<!--Footer Fragment-->
<div th:insert="/page-fragments :: footer"></div>

</body>
</html>