<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../style2.css">
    <title>Team</title>
</head>
<body>

<!--Header Fragment-->
<div th:insert="/page-fragments :: header('team')"></div>

<!--Body-->
<div class="container">
    <div class="team-page">
        <h1>Our Team</h1>
        <div class="card team">
            <img class="card-img-top" src="images/team-1.jpg">
            <div class="card-body">
                <h5 class="card-title">Alex</h5>
                <p class="card-text">Web Developer</p>
            </div>
        </div>
        <div class="card team">
            <img class="card-img-top" src="images/team-2.jpg">
            <div class="card-body">
                <h5 class="card-title">John</h5>
                <p class="card-text">CEO</p>
            </div>
        </div>
        <div class="card team">
            <img class="card-img-top" src="images/team-3.jpg">
            <div class="card-body">
                <h5 class="card-title">Sarah</h5>
                <p class="card-text">Customer Service</p>
            </div>
        </div>
        <div class="card team">
            <img class="card-img-top" src="images/team-3.jpg">
            <div class="card-body">
                <h5 class="card-title">Sarah</h5>
                <p class="card-text">Web Developer</p>
            </div>
        </div>
        <div class="card team">
            <img class="card-img-top" src="images/team-1.jpg">
            <div class="card-body">
                <h5 class="card-title">Alex</h5>
                <p class="card-text">Customer Service</p>
            </div>
        </div>
        <div class="card team">
            <img class="card-img-top" src="images/team-2.jpg">
            <div class="card-body">
                <h5 class="card-title">John</h5>
                <p class="card-text">Web Designer</p>
            </div>
        </div>
    </div>
</div>

<!--Footer Fragment-->
<div th:insert="/page-fragments :: footer"></div>

</body>
</html>